:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", monospace;
  --font-weight-regular: "wght" 410;
  --font-weight-bold: "wght" 715;
  --bg-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(
    375px,
    calc(375px + (700 - 375) * ((100vw - 375px) / (1440 - 375))),
    700px
  );
  --border: 2px solid #000;
  --bg-color: #fff;
  --text-color: #000;
  --button-text-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #f00;
}
